=form_with model: wordlist, local: true do |f|
  =render 'shared/error_messages', obj: f.object
  .word-form
    .form-group
      =f.label :title, 'タイトル'
      =f.text_field :title, class: 'form-control col-6 mx-auto'
    .form-group
      =f.submit class: 'btn add'
=link_to '単語帳一覧へ', wordlists_path