@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import '/*';
// header
.home-header{
  nav {
    background: none;
    .navbar-brand {
      color: #fafafa;
      font-size: 1.6em;
      text-decoration: none;
  }
  ul {
    margin: 0;
    height: 40px;
    display: flex;
    vertical-align: middle;
    li {
      display: inline-block;
      margin: auto auto;
      a {
        color: #fafafa;
        font-size: 1.2em;
        margin-right: 30px;

        &:hover {
          color: #fafafa;
          text-decoration: underline;

       }
      }
    }
  }
}
}
.main-header {
  nav {
    background-color: #aaaaaa;
    .navbar-brand {
    color: #fafafa;
    font-size: 1.6em;
    text-decoration: none;
  }

  ul {
    margin: 0;
    height: 40px;
    display: flex;
    vertical-align: middle;
    li {
      display: inline-block;
      margin: auto auto;
      a {
        color: #fafafa;
        font-size: 1.2em;
        margin-right: 30px;

        &:hover {
          color: #fafafa;
          text-decoration: underline;

       }
      }
    }
  }
}
}

// common
.messages {
  margin-top: 65px;
  text-align: center;
}
.top {

  font-family: 'Quicksand', sans-serif;

  .jumbotron {
  background-image: url('notebook123.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;

    &:before {
      content: '';
      background-color: rgba(0,0,0,.3);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .container {
      max-width: 1200px;
      height: 100%;
    } 
  }
}

// -- pagination -- //
.all{
  text-align: center;
  margin: 0 auto; 
  // width: 100%;
  height: 44px;
  margin-top: 30px;
}
.pagination{
  
  li {
    .page-link{
      border: none;
      color: $color-gray; 
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 2px;
      padding: 0;
      background: none;
      
      &:hover {
        border-radius: 20px; 
        background-color: rgb(219, 215, 215);
        color: #fafafa;
      }
    }
  } 
  .active {
    a.page-link {
      background-color: #aaa;   
      border-radius: 20px;    
    }
    
  }
  
}
