@import 'bootstrap';
@import '/*';

nav {
  background: none;
  .navbar-brand {
    color: #fafafa;
    text-decoration: none;
  }

  .h1 {
    font-size: 2em;
    color: #fafafa
  }

  ul li {
    display: inline-block;

    a {
      color: #fafafa;
      font-size: 1.5em;
    margin-right: 30px;
      &:hover {
        color: #fafafa;
        text-decoration: underline;

      }
    }
  }
}