@import 'bootstrap';
@import '/*';

nav {
  background: none;
  .navbar-brand {
    color: #fafafa;
    text-decoration: none;
  }

  .h1 {
    font-size: 2em;
    color: #fafafa
  }

  ul li {
    display: inline-block;

    a {
      color: #fafafa;
      font-size: 1.5em;
    margin-right: 30px;
      &:hover {
        color: #fafafa;
        text-decoration: underline;

      }
    }
  }
}
// -------- 共通背景 --------
.top {

  font-family: 'Quicksand', sans-serif;

  .jumbotron {
  background-image: url('notebook123.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;

    &:before {
      content: '';
      background-color: rgba(0,0,0,.3);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .container {
      max-width: 1200px;
      height: 100%;
    } 
  }
}