.devise-main {
  width: 1200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;

  h2 {
    color: #fafafa;
    text-align: center;
    font-size: 6em;
  }
  label {
    font-size: 1.3em;
    color: #fcfcfc;
    text-align: center;
  }

  .form {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}